body {
  background: #000080;
  color: #ffff00;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: #ff0000;
  background: #ffffff;
  padding: 10px;
}

a {
  color: #00ffff;
}

a:visited {
  color: #ff00ff;
}

img {
  border: 4px ridge #ffffff;
}
